<aside class="list-group">
    <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-border-all"></i> Tất Cả</a>
    {% for data in subjects %}
        <a href="#" class="list-group-item list-group-item-action"> {{data.name}}</a>
    {% endfor %}
    {% comment %} <a href="#" class="list-group-item list-group-item-action">Toán Học</a>
    <a href="#" class="list-group-item list-group-item-action">Vật Lý</a>
    <a href="#" class="list-group-item list-group-item-action">Hóa Học</a>
    <a href="#" class="list-group-item list-group-item-action">Tiếng Anh</a>
    <a href="#" class="list-group-item list-group-item-action">Tiếng Việt</a>
    <a href="#" class="list-group-item list-group-item-action">Khoa học</a>
    <a href="#" class="list-group-item list-group-item-action">Âm nhạc</a>
    <a href="#" class="list-group-item list-group-item-action">Mỹ thuật</a>
    <a href="#" class="list-group-item list-group-item-action">Thể dục</a>
    <a href="#" class="list-group-item list-group-item-action">Lịch sử</a>
    <a href="#" class="list-group-item list-group-item-action">Đạo đức</a>
    <!--Thêm các môn học còn thiếu ở đây--> {% endcomment %}
</aside>