<aside class="list-group">
    <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-border-all"></i> Tất Cả</a>
    <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-square-root-alt"></i> Toán</a>
    <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-language"></i> Tiếng Việt</a>
    <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-history"></i> Lịch Sử</a>
    <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-globe"></i> Địa Lý</a>
    <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-dna"></i> Sinh Học</a>
    <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-vial"></i> Hóa Học</a>
    <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-atom"></i> Vật Lý</a>
    <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-laptop-code"></i> Tin Học</a>
    <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-book"></i> Văn Học</a>
    <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-palette"></i> Mỹ Thuật</a>
    <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-music"></i> Âm Nhạc</a
</aside>