{% extends "admin/base.html" %}
{% block content %}
<div class="container">
  <div class="d-flex align-items-center justify-content-center">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Quản lý người dùng</h5>
      </div>
    </div>
  </div>
  
    <table class="table">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for data in users %}
          <tr>
            <th scope="row">{{data.id}}</th>
            <td>{{data.username}}</td>
            <td>{{data.email}}</td>
            <td>
                {% if data.is_superuser %}
                  Quản trị
                {% else %}
                  Người dùng
                {% endif %}
              </td>
            <td>
              <form method="POST" action="{% url "user.delete" data.id %}">
                {% csrf_token %}
                <button class="btn btn-sm btn-danger">Xóa</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a class="btn btn-primary btn-sm" href="{% url "lesson.create" %}">Create</a>
</div>
{% endblock content %}
